@font-face {
  font-family: "BookNino";
  src: url(../../fonts/bpg_nino_mtavruli_bold.otf) format("openType");
  font-display: swap;
}

@font-face {
  font-family: "firaGo";
  src: url(../../fonts/FiraGO-Book.otf) format("openType");
  font-display: swap;
}