@media (max-width: 109em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 87.5em) {
  html {
    font-size: 43.75%;
  }

  .header-nav-box {
    gap: 4rem !important;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 37.5%;
  }

  .header-nav-box {
    gap: 2rem !important;
  }

  .main-container {
    margin: 0 8.8rem;
  }
}

@media (max-width: 62.5em) {
  html {
    font-size: 28.125%;
  }
}
